<!doctype html>
<html>
<body>
<form>
    <table border=1>
        <thead>
        <td>Flight</td>
        <td>Depart</td>
        <td>Arrive</td>
        <td>Status</td>
        </thead>
        Flight Status
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td><a href="/viewall">Status</a></td>

            <!--<td>{{row["marks"]}}</td>-->
        </tr>

        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td><a href="/viewall">Status</a></td>

            <!--<td>{{row["marks"]}}</td>-->
        </tr>

        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td><a href="/viewall">Status</a></td>

            <!--<td>{{row["marks"]}}</td>-->
        </tr>


    </table>



    <a href="/viewall">Return</a>

</form>