<html>

<body>
<nav class="nav navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header navbar-left " style="line-height:100px; height:100px;">
            <button type="button" class="navbar-toggle pull-right collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" style="margin-top:30px">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="margin-top:15px">
                <li>
                    <a href="{{ url_for('register') }}"> Register </a>
                </li>

                <li>
                    <a href="{{ url_for('home') }}"> Home </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>