<html>
<body>

<!--<form action = "http://localhost:5000/result" method = "POST">-->
<form action="http://localhost:5000/addrec" method="POST" enctype="multipart/form-data" >
    <p>Name <input type="text" name="Name"/></p>
    <p>Marks <input type="text" name="Marks"/></p>
    <p>Admission Date <input type ="date" name="Admission Date"></p>  #try in chrome to see the date selector
    <p>Upload Photo<INPUT size=70 TYPE="file" NAME="file"></p>
    <p><input type="submit" value="submit"/></p>
</form>

</body>
</html>