
<body>

<form action="http://localhost:5000/addflight" method="POST" enctype="multipart/form-data" >
    <h1>Add Flight</h1>
    <hr>
        <p style="color: red;">{{error}}</p>
        <div style="width: 1200px; margin-left: auto; margin-right: auto;">


            <div>
            <p class="data">Departure City:</p>
            <input class="data" name="de_city"/>
            </div>

            <div>
            <p class="data">Arrival City:</p>
            <input class="data" name="ar_city"/>
            </div>

             <div>
            <p class="date">Departure date:</p>
            <input  type="date" name="de_date" min="2019-05-01" max="2019-07-31" required/>
                 <span class="validity"></span>
            </div>

            <div>
            <p class="time">Departure time:</p>
            <input type="time" name="de_time" required/>
                <span class="validity"></span>
            </div>

            <div>
            <p class="date">Arriving date:</p>
            <input  type="date" name="ar_date" min="2019-05-01" max="2019-07-31" required/>
                 <span class="validity"></span>
            </div>

            <div>
            <p class="time">Arriving time:</p>
            <input type="time" name="ar_time" required/>
                <span class="validity"></span>
            </div>


            <div>
            <p class="data">Gate:</p>
            <input class="data" name="gate"/>
            </div>

            <div>
            <p class="data">Aircraft Type:</p>
            <input class="data" name="aircraft"/>
            </div>

    <table border=1>



        <thead>
        <td>NAME</td>
        </thead>
        {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
        </tr>
        {% endfor %}
    </table>

        </div>
    <p style="color: red;">{{error}}</p>
    <p><input type="submit" value="submit"/></p>
</form>

<br>
<a href="/">Go back to home page</a>
</body>
</html>