<html>
<body>

<form action="http://localhost:5000/bookflight-roundtrip" method="POST" enctype="multipart/form-data" >
    <h1>Book Roundtrip Flight</h1>
    <hr>
        <div style="width: 1200px; margin-left: auto; margin-right: auto;">
            <div>
            <p class="data">From   (Example: New York City)</p>
            <input class="data" name="from_city"/>
            </div>

            <div>
            <p class="data">To:    (Example: Chicago)</p>
            <input class="data" name="to_city"/>
            </div>

            <div>
            <p class="data">Departure Date:    (Example: 2019-06-19 00:00:00)</p>
            <input class="data" name="departure_date"/>
            </div>

            <div>
            <p class="data">Return Date:       (Example: 2019-06-19 00:00:00)</p>
            <input class="data" name="return_date"/>
            </div>

            <p><input type="submit" value="Search"/></p>
        </div>
</form>
<br>
<a href="/">Go back to home page</a>
</body>
</html>
