<html>
<body>

<form action="http://localhost:5000/bookflight-roundtrip" method="POST" enctype="multipart/form-data" >
        <div style="width: 1200px; margin-left: auto; margin-right: auto;">
            <div>
            <p class="data">From</p>
            <input class="data" from="from_city"/>
            </div>

            <div>
            <p class="data">To:</p>
            <input class="data" name="to_city"/>
            </div>

            <div>
            <p class="data">Departure Date:</p>
            <input class="data" name="departure_date"/>
            </div>

            <div>
            <p class="data">Return Date:</p>
            <input class="data" name="return_date"/>
            </div>

            <div>
            <p class="data">Passenger number:</p>
            <input class="data" name="passenger_num"/>
            </div>

        </div>
        <!--</form>-->
    <p><input type="submit" value="Search"/></p>
</form>

</body>
</html>
