<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Multi-City Flights</title>
</head>
<body>
<form action="http://localhost:5000/bookflight-roundtrip" method="POST" enctype="multipart/form-data" >
    <h1>Book Multi-City Flight</h1>
    <div style="width: 1200px; margin-left: auto; margin-right: auto;">
            <div>
            <p class="data">From</p>
            <input class="data" from="from_city"/>
            </div>

            <div>
            <p class="data">To:</p>
            <input class="data" name="to_city"/>
            </div>

            <div>
            <p class="data">City want to Pass By:</p>
            <input class="data" name="pass_by_city"/>
            </div>

            <div>
            <p class="data">Departure Date:</p>
            <input class="data" name="departure_date"/>
            </div>

            <div>
            <p class="data">Return Date:</p>
            <input class="data" name="return_date"/>
            </div>

            <p><input type="submit" value="Search"/></p>
        </div>
</form>

<br>
<a href="/">Go back to home page</a>
</body>
</html>
