<!doctype html>
<html>
<body>

<h1>Book a Flight</h1>
<hr>

    <table border=1>



        <thead>
        <td>Flight ID</td>
        <td>Departing Time</td>
        <td>Arriving Time</td>
        <td>Departing City</td>
        <td>Arriving City</td>
        <td>Book the Flight</td>
        </thead>
        {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>
                <form action="/bookConfirm" method="POST">
                    <p><input type="submit" value="Book_me" flight_id="{{row[0]}}"></p>
                    <input type="text" value={{row[0]}} name="flight_id" hidden/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
<form>
    <a href="/bookflight-single">Return to searching page</a>

</form>

<br>
<a href="/">Go back to home page</a>

</body>
</html>
