<!doctype html>
<html>
<body>
<form>
    <h1>View All Flights</h1>
    <hr>
    <table border=1>
        <thead>
        <td>Departure Time</td>
        <td>Arrival Time</td>
        <td>Gate</td>
        <td>Aircraft Name</td>
        <td>Departing City</td>
        <td>Arriving City</td>
        <td>Delete</td>
        <td>Edit</td>
        </thead>
        {% for row in rows %}
        <tr>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>
                <form action="/deleteFlight" method="POST">
                    <input type="submit" value="Delete">
                    <input type="Text" name="flight_id" value="{{row[0]}}" hidden>
                </form>
            </td>
            <td>
                <form action="/editFlightPage" method="POST">
                    <input type="submit" value="Edit">
                    <input type="Text" name="flight_id" value="{{row[0]}}" hidden>
                    <input type="Text" name="departure_time" value="{{row[1]}}" hidden>
                    <input type="Text" name="arrival_time" value="{{row[2]}}" hidden>
                    <input type="Text" name="gate" value="{{row[3]}}" hidden>
                    <input type="Text" name="aircraft_name" value="{{row[4]}}" hidden>
                    <input type="Text" name="departing_city" value="{{row[5]}}" hidden>
                    <input type="Text" name="arriving_city" value="{{row[6]}}" hidden>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form>
        <a href="/viewall">Return</a>
    </form>

    <br>
    <a href="/">Go back to home page</a>
</form>
</body>
</html>