<html>
<body>

<form action="http://localhost:5000/login" method="POST" enctype="multipart/form-data" >
        <div style="width: 1200px; margin-left: auto; margin-right: auto;">
            <div>
            <p class="data">Email:</p>
            <input class="data" name="email"/>
            </div>

            <div>
            <p class="data">Password:</p>
            <input class="data" name="password"/>
            </div>
        </div>
        <!--</form>-->
    <p><input type="submit" value="submit"/></p>
</form>

</body>
</html>