<html>
<body>

<form action="http://localhost:5000/login" method="POST" enctype="multipart/form-data" >
    <h1>Login</h1>
    <hr>
        <div style="width: 1200px; margin-left: auto; margin-right: auto;">
            <div>
            <p class="data">Email:</p>
            <input class="data" name="email"/>
            </div>

            <div>
            <p class="data">Password:</p>
            <input class="data" name="password"/>
            </div>
            <p style="color: red;">{{error}}</p>
            <p><input type="submit" value="submit"/></p>
        </div>
</form>

<br>
<a href="/">Go back to home page</a>
</body>
</html>